<!DOCTYPE html >
<html lang="en">
<head>
<title>Login</title>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<body>
{% with flashes = get_flashed_messages() %}
	{% if flashes %}
		{% for flash in flashes %}
<h5>{{flash}}</h5>
		{% endfor %}
	{% endif %}
{% endwith %}
	<div class="container">
		<h2>Login</h2>
		<form method="post">
			{{form.csrf_token}}
			{{form.username.label}}
			{{form.username}}
			{{form.password.label}}
			{{form.password}}
			{{form.submit}}
		</form>
	</div>
	<div class="container">
		<a href="{{url_for('register')}}">Register</a>
	</div>
</body>