<!DOCTYPE html >
<html lang="en">
<head>
<title>Add Server</title>

<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
<body>
	<div class="container">
		<form method="post">
		  <fieldset>
			<legend>Add Server</legend>
			<label>Server Name</label>
			<input name="servername" type="text">
			<label>IP</label>
			<input name="serverip" type="text">
			<label>Username</label>
			<input name="username" type="text">
			<label>Password</label>
			<input name="passwd" type="password">
			<label>Customer Name</label>
			<input name="customername" type="text">
			<label>Default Database</label>
			<input name="defaultdb" type="text">
			<label>Type</label>
			<select name="type">
				<option>Productive</option>
				<option>Testing</option>
				<option>Delivery</option>
			</select>
			<label>DB Type</label>
			<select name="db_type">
			{% for type in db_type %}
				<option>{{ type }}</option>
			{% endfor %}
			</select>
			<button type="submit" class="btn">Submit</button>
		  </fieldset>
		</form>
	</div>
</body>
